/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

body{
  background-color: rgb(35, 66, 133);
}

div{
  text-align: center;
  margin-top: 250px;
}


input[type="text" i] {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  cursor: default;
  margin: 2px;
  padding: 5px 6px;
  border-radius: 5px;
  border-width: 0ch;
  width: 500px;
 
}

input[value="ajouter"] {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  cursor: default;
  margin: 1px;
  padding: 4px 5px;
  border-radius: 5px;
  border-width: 0ch;
  background-color: rgb(78, 148, 81);
  
}

input[value="trier"] {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  cursor: default;
  margin: 1px;
  padding: 4px 5px;
  border-radius: 5px;
  border-width: 0ch;
  background-color: rgb(160, 79, 129);
  
}

input[value="supprimer"] {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  cursor: default;
  margin: 1px;
  padding: 4px 5px;
  border-radius: 5px;
  border-width: 0ch;
  background-color: rgb(223, 98, 49);
  
}

input[type="button"]{
  margin-right: 7px;
  padding: 7px;
}
